<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản lý Bán hàng</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hệ thống Quản lý Lab 2", "Index", "Agents", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Menu theo đúng chuẩn Bước 6 (đã sửa thành số nhiều để không bị lỗi 404) *@
                    <li>@Html.ActionLink("Sản phẩm", "Index", "Items")</li>
                    <li>@Html.ActionLink("Đại lý", "Index", "Agents")</li>
                    <li>@Html.ActionLink("Đơn hàng", "Index", "Orders")</li>
                    <li>@Html.ActionLink("Thống kê", "Index", "Filter")</li>

                    @* Code hiển thị nút Đăng xuất kèm tên User theo đúng ảnh hướng dẫn *@
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("Đăng xuất (" + Session["UserName"] + ")", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Phát triển bởi Bùi Quang Huy - TDTU</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>